[Desktop Entry]
Name=VegaConnect
NoDisplay=true
MimeType=x-scheme-handler/VegaConnect;
TryExec=VegaConnect
Exec=VegaConnect %u
Icon=VegaConnect
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=VegaConnect
